<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <% if AuthenticationHelper.logged_in?(session) %>
        <h2>Welcome back to Sinatra Gradebook, <%= AuthenticationHelper.current_user(session).first_name %> <%= AuthenticationHelper.current_user(session).last_name %>!</h2>
        <a href='/courses'><button>My Courses</button></a>
        <a href='/edit'><button>Edit My Account</button></a>
        <a href='/delete'><button><Delete My Account</button></a>
      <% else %>
        <h2>Welcome to Sinatra Gradebook!</h2>
        <p>Login or signup by clicking in the navigation bar below.</p>
      <% end %>
    </div>

  </div>
</div>
